body, #pagecontainer {
    min-height: 100vh;
}

#container {
	display: flex;
	flex-direction: column;
	
    min-height: 90vh;
	background-color: #333;
	border: none;
}

#dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	margin-top: 10%;
	background-color: #333;
	color: white;
}

.title {
	text-align: center;
}

#dash-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	max-width: 80%;
}
#dash-logo img {
	max-width: 100%;
	max-height: 100%;
}

#icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.icon-button {
	padding: 8px;
	border: none;
	max-width: 135px;
	max-height: 116px;
	text-overflow: ellipsis;
}

.icon {
	max-width: 100px;
	max-height: 100px;
}

#iconLinks {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	margin-top: 12%;
}

#pasfooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	margin-right: 16px;
}

small, a {
	color: white !important;
}

a {
	font-size: 16px !important;
}

ul {
	padding: 0px;
}

li {
	list-style-type: none;
}

iframe {
	height: 100%;
}

#footer {
	margin-top: 0px;
}