.video-container, .div_embed_video {
	position: relative;
}
.video-curtain {
	background-color: #000;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	text-align: center;
	vertical-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: -webkit-calc(100%);
	height: -moz-calc(100%);
	height: calc(100%);
	cursor: pointer;
}